<header class="row">
	<section class="col-3">
        <section class="row">
            <section class="environment">
                <select #softEnv
                        (change)="widgetService.setEnvData(softEnv.value);"
                        class="custom-select mb-2 mr-sm-2 mb-sm-0"
                        id="inlineFormCustomSelect">
                    <option *ngFor="let item of widgetService.titles"
                            [value]="item.title">{{item.title}}
                    </option>
                </select>
                <h2>{{widgetService.env.type}} soft</h2>
            </section>
            <section class="environment">
                <select #dataEnv
                        (change)="widgetService.setDataData(dataEnv.value);"
                        class="custom-select mb-2 mr-sm-2 mb-sm-0"
                        id="inlineFormCustomSelect">
                    <option *ngFor="let item of widgetService.titles"
                            [value]="item.title">{{item.title}}
                    </option>
                </select>
                <h2>{{widgetService.data.type}} data</h2>
            </section>
        </section>
	</section>
	<section class="col-6">
		<section class="row justify-content-end">
			<h2>release ver. 0.39.90</h2>
		</section>
	</section>
</header>
<nav class="row align-items-center">
    <a routerLink="/test" routerLinkActive="active">test</a>
</nav>